<main ng-controller="CardsController">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <ul>
          <li ng-repeat="card in app.cards">
            <a href='' ng-init="app.info(0)" ng-click="app.info($index)">
              <span>{{card.name}}</span>
              <p>{{card.type}}</p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-9">
        <img ng-src="http://52.57.88.137/api/card_image/{{app.cardInfo.name}}">
        <p>{{app.cardInfo.description}}</p>
      </div>
    </div>
  </div>




</main>
<footer>
</footer>