html, body, .app {
  height: 100%;
  overflow: hidden;
}

main, .app__container, .app__row {
  height: 100%;
}

.sidebar__list {
  padding: 40px 20px 40px 20px;
}

.sidebar__list-item {
  list-style: none;
  box-shadow: 0px 0px 5px #cccccc;
  padding: 5px;
  margin-bottom: 20px;
}

.card__image {
  width: 100%;
  max-width: 240px;
  height: auto;
  float: left;
}

